PORT=3000
WEBHOOK_SECRET=github_webhook_dev_secret
DOWNSTREAM_URL=http://localhost:4000/notifications
PGHOST=localhost
PGPORT=5432
PGUSER=receiver
PGPASSWORD=receiver_dev_password
PGDATABASE=receiver
